* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --corpo: #00ADB5;
    --conteinerProd: rgba(0, 0, 0, 0.593);
    --card: #bbc9df;
    --bg: #cacaca53;
    /*Body*/
    --footter: #222831;
}

main {
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    justify-items: center;

}

/*------Produtos e Container - Modal--------*/
.intro {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--conteinerProd);
}

h1 {
    color: white;
    padding: 10px;
}

/* Conteiner dos Cards*/
#produtos-container {
    width: 90vw;
    height: auto;
    display: flex;
    flex-flow: row;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    padding: 15px;

}

/* Card - Montagem e organizacao*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: auto;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.641);
    background: var(--card);
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.01);
}

.avaliacao {
    /*Avaliacao e Carrinho*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    font-size: 0.9rem;
    margin: 5px;
}

.card-conteudo {
    /*Titulo e Paragrafo*/
    display: block;
    justify-content: center;
    justify-items: center;
    height: 150px;
    margin-bottom: 30px;
}

.card-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: #0000005f;
    margin-bottom: 10px 0;
    display: flex;
    justify-content: center;
}

#propaganda {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#propaganda:hover {
    box-shadow: 2px 2px 10px #0000006e;
    cursor: pointer;


}

.card-footer {
    display: flex;
    flex-direction: column;
}

/*----Detalhes Card------*/
.card p {
    padding: 3px;
    color: #3c3c3c;
    font-size: 1rem;
    height: 100%;
}

.price {
    text-align: center;
    font-weight: bold;
    color: #ff6e00;
    margin: 15px 0;
    font-size: 1.3rem;
}

.rating {
    /* Numeros Avaliacao */
    color: #555;
    font-weight: bold;
    font-size: 0.9rem;
}

/*------Modal-----Modal-----*/
.modal {
    left: 25%;
    top: 25%;
    width: 800px;
    height:400px;
    padding: 10px;
}




/*-----------------*/
.btn-comprar {
    width: 100%;
    background-image: radial-gradient(#21508e);
    color: rgb(255, 255, 255);
    border: none;
    padding: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    justify-items: center;
    transition: background 0.2s;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

.btn-comprar:hover {
    background-image: radial-gradient(#5B9ED9, #163E73);

}