* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.footer {
    display: flex;
    width: 100%;
    position: relative;
    height: 50px;
    background-color: #14213D;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    bottom: 0;
    font-weight: bold;
}

.header {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #14213D;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    margin-top: 15%;
    justify-content: center;
    justify-items: center;

}

#container {
    background-color: #ffffffb4;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-height: 50vh;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-flow: wrap-reverse;
    border-radius: 10px;
    padding-top: 2%;

}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    background-image: linear-gradient(#f4f4f4);
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    justify-items: center;
    text-align: center;
    margin: 10px;
}

.card:hover {
    transform: scale(1.02);
}

.miniCard {
    display: block;
    justify-content: center;
    justify-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px 0;
}

.card h3 {
    height: auto;
    font-size: 1.2rem;
    margin: 10px 0;
}

.card p {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 4px;
    height: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.price {
    font-weight: bold;
    color: #27AE60;
    margin: 5px 0;
}

.rating {
    color: #fc9b00;
    font-weight: bold;
}

.btn-comprar {
    background-image: radial-gradient(#163E73);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    justify-items: center;
    transition: background 0.2s;
    box-shadow: 2px 2px rgb(0, 0, 0);
    margin-top: 15px;
}

.btn-comprar:hover {
    background-image: radial-gradient(#5B9ED9, #163E73);

}

.btn-carrinho {
    background-image: radial-gradient(#fc9b00);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.4s;
    box-shadow: 1px 1px black;
}

.btn-carrinho:hover {
    background-image: radial-gradient(#f2b203, #fc9b00);

}

.icon {
    display: flex;
    color: #FCA311;
    cursor: pointer;
}

#introducao {
    display: grid;
    grid-template-columns: 400px 1fr;
    width: 90%;
}
#map {
    width: 400px;
    height: 250px;
    padding: 10px;
    border: 4px solid black;
    padding: 10px;
    grid-row: 2;}

#Final {
    justify-content: center;
    justify-items: center;
    width: 90%;
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

#ProdGraf{
    display: grid;
    padding: 15px;
    grid-template-columns: auto auto;
}

#grafico{
    max-width: 100%;
    max-height: 100%;
}

#mapaIntro{
    padding: 10px;
    width: 100%;
}