* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --bg: #E5E5E5;
    --reder: #14213D;
    --foter: #14213D;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    min-height: 100vh;
}

.footer {
    display: flex;
    width: 100%;
    position: relative;
    height: 160px;
    background-color: var(--foter);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 0;
    font-weight: bold;
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--reder);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    padding-top: 80px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    justify-items: center;
    background-color: #14213de1   ;

}

#container-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#f4f4f4);
    border-radius: 5px;
    border: 2px solid #ff6e00;
    max-width: 300px;
    max-height: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    justify-items: center;
    text-align: center;
    margin: 10px;
    
}

.card:hover {
    transform: scale(1.02);
}

.avaliacao {
    /*Avaliacao e Carrinho*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    font-size: 0.9rem;
    padding: 10px;
}

.card-conteudo {
    /*Titulo e Paragrafo*/
    display: block;
    justify-content: center;
    justify-items: center;
    height: 80px;
    margin-bottom: 30px;
}
.card-footer {
    display: flex;
    flex-direction: column;
}
.card-img {
    min-width: 100%;
    height: 300px;
    border: 3px solid #ff6e00;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgb(173, 7, 82);
}
img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.card p {
    color: #3c3c3c;
    font-size: 0.8rem;
    padding: 4px 0px;
    height: 100%;
}

.price {
    text-align: center;
    font-weight: bold;
    color: #ff6e00;
    margin: 5px 0;
    font-size: 1.3rem;
}

.rating {
    /* Numeros Avaliacao */
    color: #555;
    font-weight: bold;
    font-size: 0.9rem;
}
.btn-comprar {
    width: 100%;
    background-image: radial-gradient(#21508e);
    color: rgb(255, 255, 255);
    border: none;
    padding: 2px;
    cursor: pointer;
    font-size: 0.9rem;
    justify-items: center;
    transition: background 0.2s;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

.btn-comprar:hover {
    background-image: radial-gradient(#5B9ED9, #163E73);

}
.close-modal{
    display: flex;
}
.icon {
    display: flex;
    color: #ff6e00;
    cursor: pointer;
}
.qrcode img{
    width: 30%;
    height: 30%;
}
.modal {
    left: 25%;
    top: 25%;
    width: 800px;
    height:400px;
    padding: 15px;
}