* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --bg: #4CA1A3;
    --reder: #1B263B;
    --detalhes: #D9D9D9;
    --foter: #14213D;
    --card: var(--fundoImg);
    --fundoImg: #F8F9FA;
    --textos: #F5F5F5;
    --botao: #FFBE47;
    --shadow: rgba(0, 0, 0, 0.15);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5f5;

}

/* Cabecalho pagina */
 .header-principal {
     text-align: center;
     padding-top: 15px;
     background: linear-gradient(135deg, #66e3ea 0%, #a29e4b 100%);
     color: white;
     margin-bottom: 30px;
     border: 2px solid black;

 }

 .header-principal h1 {
     font-size: 2.5rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #sideBar {
     width: 100%;
     display: flex;
     justify-content: space-around;
     padding-top: 5px;
     padding-bottom: 5px;
 }

 #sideBar .material-symbols-outlined,
 a {
     color: white;
     text-decoration: none;
 }

/*----------------------*/
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    color: white;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #66e3ea 0%, #a29e4b 100%);

}
.footer .material-symbols-outlined, a{
    color: whitesmoke;
}

main {
    width: 100%;
    height: 100%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.ajuste {
    display: grid;
    grid-template-columns: 1fr 650px;
    justify-items: center;
    align-items: center;
    width: 95vw;
    height: 50vh;
    border-radius: 10px;
    gap: 10px;
}

#container-carrinho {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 50vh;
    overflow: auto;
    scrollbar-width: none;
    background-color: var(--card);


}

.tituloPage {
    width: 95%;
    color: #111827;
    border-left: 5px solid #a29e4b;
    margin-bottom: 25px;
    padding: 10px;
}

.card-item {
    display: flex;
    border-bottom: 2px solid var(--detalhes);
    max-width: 100vw;
    height: 125px;
    padding: 5px;
}

.card-item:nth-child(odd) {
    /* Exemplo: estilização para a linha divisória amarela, se necessário */
    border-bottom: 3px solid var(--detalhes);
}

.card-header {
    display: flex;
    flex-direction: column;
    width: 1fr;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
    height: auto;
    padding: 10px;
}

.card-footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}


.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Botao Remover do Carrinho*/
.remover {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.remover:hover {
    background: #ff1a1a;
}

.resumo-carrinho {
    padding: 5px;
    background-color: var(--card);
    width: 100%;
    height: 100%;
    border: 1px solid var(--detalhes);

}

.linha-resumo {
    display: flex;
    justify-content: space-between;
    /* Espaça os nomes dos valores */
    margin-bottom: 35px;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid var(--detalhes);
    padding: 3px;
}

/* Estilo para a linha do TOTAL */
.total-destaque {
    font-weight: bold;
    font-size: 1.2em;
    top: 0;
    left: 0;
    margin-top: 15px;
    padding-top: 10px;
    /* Opcional: Adicionar uma linha superior ou mudar cor de fundo para destaque */
}

/* Estilo para a linha horizontal */

.diminuir,
.aumentar {
    background: var(--detalhes);
    width: 20px;
    font-size: 1rem;
    color: black;
}
#contatos{
    margin: 3px;
    color: white;
    transition: color 0.4s;
}
#contatos:hover{
    color: black;
}