* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F9FA;


}

:root {
    --bg: #4CA1A3;
    --reder: #1B263B;
    --detalhes: #D9D9D9;
    --foter: #14213D;
    --card: var(--fundoImg);
    --fundoImg: #F8F9FA;
    --textos: #F5F5F5;
    --botao: #FFBE47;
    --shadow: rgba(0, 0, 0, 0.15);
}

/* Cabecalho pagina */
.header-principal {
    text-align: center;
    padding-top: 15px;
    background: linear-gradient(135deg, #66e3ea 0%, #a29e4b 100%);
    color: white;
    margin-bottom: 30px;
    border: 2px solid black;

}

.header-principal h1 {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sideBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sideBar .material-symbols-outlined,
a {
    color: white;
    text-decoration: none;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    color: white;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #66e3ea 0%, #a29e4b 100%);

}

main {
    padding: 10px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;


}

.formulario {
    width: 40%;

}

form {
    gap: 10px;
    width: 80%;
    display: flex;
    padding: 10px;
    margin: auto;
    color: black;
    border-radius: 15px;
    justify-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F9FA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 100%;


}

input {
    width: 50%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 95%;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}


#enviar,
#limpar {
    text-align: center;
    background-color: #F8F9FA;
    height: 25px;
    width: 100px;
    cursor: pointer;
    transition: background 0.3s , color 0.3s;
}

#enviar:hover,
#limpar:hover{
    background-color: #a29e4b;
    color: white;
}
.coluna1 {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F9FA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

#sobre p,
h2 {
    padding: 10px;
    margin-top: 10px;
}


#localizacaoCard {
    padding: 10px;
    text-align: center;
    color: #1B263B;
    border-top: 1px dotted black;
}

#map {
    margin: 10px auto;
    width: 500px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
}
#contatos{
    margin: 3px;
    color: white;
    transition: color 0.4s;
}
#contatos:hover{
    color: black;
}
